.logo_image {
    width: 230px;
    margin: 0 auto;
    img {
    width: 100%;
}
}

.logo_name h1 {
    text-align: center;
}
.logo_container {
    padding-top: 20px;
}
@include media(800px) {
	.logo_image {
    float: left;
}
.logo_name {
    float: left;
}
.content {
    clear: both;
}
}