.logo_image {
    width: 158px;
    margin: 0 auto;
    img {
    width: 100%;
}
}

.logo_name h1 {
    text-align: center;
    font-size: 3.5em;
}
.logo_container {
    padding-top: 20px;
}
@include media(800px) {
	.logo_image {
    float: left;
}
.logo_name {
    float: left;
}
.content {
    clear: both;
}
}
.logo_name {
padding: 54px 0 0 28px;
}